@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <!-- Styling reference -->
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="w3-auto">
    <div class="min-vh-100">
        <br><br></br>

        <div class="w3-main w3-center">
            <h1>Velkommen til dit RabbitRegister!</h1>

            </br>
            <p>
                Her kan du holde styr på dine kaniner, klipninger og produkter
            </p>
            <br></br>
            <p>
                ---: EDITRABBIT :--
                - Der kan nu udskiftes profil billede
                - .. man kan dog ikke slette det gamle -.-

                ---: EDIT TRIMM :---
                - Virker igen.. Dejligt..

                ---: SERILOG :---
                - Installeret.. men aner ikk hvordan det bruges

                ---: Andet :---
                - Der er byttet om på rabbitRegNo og originRegNo.
                - Man kan som admin oprette brugere igen.
                - Brugere kan igen rette sine oplysninger..
                - RabbitProfile får vist korrekt vist profil-billede
            </p>
        </div>
    </div>
</body>
